*
{
    margin:0;
    padding:0;
    border-style:border-box;
}

.main
{
    width:100%;
    height:100%;
    background:lightgrey;
    display:grid;
    grid-template-rows: 150px 400px 150px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:5px;
}

.header
{
    background:red;
    grid-column-start:1;
    grid-column-end:4;
}

.leftpanel
{
    background:green;
}

.maincontent
{
    background:white;
}

.rightpanel
{
    background:blue;
}

.footer
{
    background:black;
    grid-column-start:1;
    grid-column-end:4;
}